# project
node_modules
.parcel-cache
dist

# editors
.idea
# .vscode is not ignored - it has proper settings for tabsize

# operating system
.DS_Store

# legacy rules
.next
yarn-error.log
yarn.lock
next.config.js
