.flagIcon {
	margin-right: 3px !important;
}


.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	position: absolute;
}

.flagsContainer {
	display: flex;
	align-items: center;
}

.homeLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: auto;
  cursor: pointer;
}

.footer {
	margin: auto 0 0;
	padding: 8px;
	font-size: 0.7rem;
	text-align: center;
	background-color: #bbdefb;
	color: #0d47a1;
	@media (max-width: 768px) {
		font-size: 0.55rem;
	}
}

.header {
	background-color: #2196f3;
	& .MuiToolbar-root {
		padding: 4px 0 4px 12px;
	}
}

.closeAboutUsButton {
	position: absolute;
	right: 8px;
	top: 8px;
}

.toolbar{
	@media (min-width: 768px) {
		height: 70px;
	}
}

.notOfficialDeplo{
	display: grid;
	grid-template-columns: 1fr auto;
	background: #f00;
	a{
		color: white;
		text-decoration: none;
		padding: 10px;
	}
}
